*{
    margin: 0px;
    padding: 0px;
    text-size-adjust: auto;
    align-self: center;
    text-align: center;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    align-content: center;    
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
}
button{
    font-weight: bold;
    background-color: rgb(114, 114, 201);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 5px auto;
}
#agregar{
    width: 120px;
}
#nText{
    border-radius: 10px;
    width: 200px;
    height: 40px;
}